body{
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    color: black;
    text-align: center;
}

#paragraph{
    color: goldenrod;
}

.para2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 130px;
}

#main-body{
    margin-top: 50px;
    margin-bottom: 50px;
}